<header class="header navbar-fixed-top">
  <nav class="navbar" role="navigation">
    <div class="container">
      <div class="menu-container js_nav-item">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="toggle-icon"></span>
        </button>

        <div class="logo">
          <a class="logo-wrap" (click)="fullpage_api.moveTo('Home', 1)">
            <img *ngIf="logoType && logoType === 2" class="logo-img logo-img-main" src="./assets/logo.png"
              alt="Asentus Logo">
            <img *ngIf="logoType && logoType === 1" class="logo-img logo-img-main" src="./assets/logo-dark.png"
              alt="Asentus Logo">
            <img class="logo-img logo-img-active" src="./assets/logo-dark.png" alt="Asentus Logo">
          </a>
        </div>
      </div>

      <div class="collapse navbar-collapse nav-collapse">
        <div class="menu-container">
          <ul class="nav navbar-nav navbar-nav-right">
            <li class="js_nav-item nav-item"><a class="nav-item-child nav-item-hover" [style.color]="colorFont"
                (click)="fullpage_api.moveTo('Home', 1)">Home</a></li>
            <li class="js_nav-item nav-item"><a class="nav-item-child nav-item-hover" [style.color]="colorFont"
                (click)="fullpage_api.moveTo('About', 2)">About</a></li>
            <li class="js_nav-item nav-item"><a class="nav-item-child nav-item-hover" [style.color]="colorFont"
                (click)="fullpage_api.moveTo('Experience', 3)">Experience</a>
            </li>
            <li class="js_nav-item nav-item"><a class="nav-item-child nav-item-hover" [style.color]="colorFont"
                (click)="fullpage_api.moveTo('Work', 4)">Work</a></li>
            <li class="js_nav-item nav-item"><a class="nav-item-child nav-item-hover" [style.color]="colorFont"
                (click)="fullpage_api.moveTo('Contact', 5)">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>

<div fullpage id="fullpage" [options]="config" (ref)="getRef($event)">
  <div class="section">
    <div class="promo-block parallax-window" data-parallax="scroll">
      <div class="container">
        <div class="row">
          <div class="col-sm-4">
            <div class="promo-block-divider">
              <h1 class="promo-block-title">Benoit <br /> Tabry</h1>
              <p class="promo-block-text">Back &amp; Front-end Developer</p>
            </div>

            <ul class="list-inline">
              <li><a href="https://www.behance.net/keenthemes" class="social-icons">
                  <fa-icon class="check" [icon]="faLinkedin"></fa-icon>
                </a></li>
              <li><a href="https://twitter.com/keenthemes" class="social-icons">
                  <fa-icon class="check" [icon]="faGithub"></fa-icon>
                </a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="section bg-perso">
    <div class="container vertical-center">
      <div class="row">
        <div class="col-sm-3 sm-margin-b-30">
          <div class="text-right sm-text-left">
            <h2 class="margin-b-0">Who am I ?</h2>
            <p>Wtf is this guy ??!</p>
          </div>
        </div>
        <div class="col-sm-8 col-sm-offset-1">
          <div class="margin-b-60">
            <p>I'm a Full-Stack developer based in Cannes, France, currently looking for
              web projects.</p>
            <p>Hardworking, rigorous and motivated. I can work on all distributions and I can adapt very quickly to any
              work environment. My priority is to meet your expectations and those of your customers.</p>
          </div>


          <ul class="skills-bar-container">
            <ng-container *ngIf="isAbout" id="show"></ng-container>
            <li>
              <div class="progressbar-title">
                <h3>Front-end</h3>
                <fa-icon [icon]="faDesktop"></fa-icon>
                <span class="percent" id="html-pourcent"></span>
              </div>
              <div class="bar-container">
                <span class="progressbar progressred" id="progress-html"></span>
              </div>
            </li>
            <li>
              <div class="progressbar-title">
                <h3>Back-end</h3>
                <fa-icon [icon]="faServer"></fa-icon>
                <span class="percent" id="css-pourcent"></span>
              </div>
              <div class="bar-container">
                <span class="progressbar progressblue" id="progress-css"></span>
              </div>
            </li>

            <li>
              <div class="progressbar-title">
                <h3>Mobile</h3>
                <fa-icon [icon]="faMobile"></fa-icon>
                <span class="percent" id="angular-pourcent"></span>
              </div>
              <div class="bar-container">
                <span class="progressbar progressgreen" id="progress-angular"></span>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="section bg-perso-2">
    <div class="container vertical-center">
      <div class="row">
        <div class="col-sm-3 sm-margin-b-30">
          <div class="text-right sm-text-left">
            <h2 class="margin-b-0">Skills</h2>
            <p>Mostly web stuff</p>
          </div>
        </div>
        <div class="col-sm-8 col-sm-offset-1">
          <div class="margin-b-60">
            <ul class="fa-ul mb-0">
              <li>
                <fa-icon class="check" [icon]="faCheck"></fa-icon>
                Mobile-First, Responsive Design
              </li>
              <li>
                <fa-icon class="check" [icon]="faCheck"></fa-icon>
                Cross Browser Testing &amp; Debugging
              </li>
              <li>
                <fa-icon class="check" [icon]="faCheck"></fa-icon>
                Cross Functional Teams
              </li>
              <li>
                <fa-icon class="check" [icon]="faCheck"></fa-icon>
                Agile Development &amp; Scrum
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-12 text-center">

          <fa-icon class="fadeIn" [icon]="faHtml5"></fa-icon>
          <fa-icon class="fadeIn" [icon]="faCss3"></fa-icon>
          <fa-icon [icon]="faAngular"></fa-icon>
          <fa-icon [icon]="faPhp"></fa-icon>
          <fa-icon [icon]="faLaravel"></fa-icon>
          <fa-icon [icon]="faJava"></fa-icon>
          <fa-icon [icon]="faJs"></fa-icon>
          <fa-icon [icon]="faNodeJs"></fa-icon>
          <fa-icon [icon]="faSass"></fa-icon>
          <fa-icon [icon]="faBootstrap"></fa-icon>
          <fa-icon [icon]="faGulp"></fa-icon>
          <fa-icon [icon]="faNpm"></fa-icon>
          <fa-icon [icon]="faGit"></fa-icon>
          <fa-icon [icon]="faDocker"></fa-icon>

        </div>
      </div>
    </div>
  </div>


  <div class="section bg-perso">


  </div>


  <div class="section">
    <div class="col-lg-5 d-flex align-items-stretch">
      <div class="info">
        <div class="address">
          <i class="icofont-google-map"></i>
          <h4>Location:</h4>
          <p>A108 Adam Street, New York, NY 535022</p>
        </div>

        <div class="email">
          <i class="icofont-envelope"></i>
          <h4>Email:</h4>
          <p>info@example.com</p>
        </div>

        <div class="phone">
          <i class="icofont-phone"></i>
          <h4>Call:</h4>
          <p>+1 5589 55488 55s</p>
        </div>

        <iframe
          src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621"
          frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen=""></iframe>
      </div>

    </div>
  </div>
</div>
